:root{
    
    --primario: #ffc107;
    --secundario: #0082a3;
    --fondo1: #98c7d3;
    --fondo2: #cef5ff;
    --fondo3: #e9faff;
    --sombreado: #4c7883;
    --blanco: #ffffff;
    --negro: #212121;
    --gris: #757575;
}

/* global */
html{
    font-size: 62.5%; /*ayuda a igualar tamaño de letra con medida rem*/
    box-sizing: border-box; /*hack para box-model*/
}
*, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-size: 16px; /*1rem = 10px */
    font-family: 'Bona Nova', serif;
    background-image: linear-gradient(to top, var(--fondo1) 0%, var(--fondo2) 60%) ;
}
/*@media (min-width: 2000px) {
     body::before{
        content: '';
        display: inline-block;
        position: absolute;
        width: 15%;
        border-style: solid;
        border-color: var(--sombreado);
        background-color: var(--sombreado);
     }
     body::after{
        content: '';
        display: inline-block;
        width: 15%;
        border-style: solid;
        border-color: var(--sombreado);
        background-color: var(--sombreado);
     }
}*/

.sombra{
    box-shadow: 0px 5px 15px 0px rgba(29,89,117,1);
    background-color: var(--fondo3);
    padding: 2rem;
    border-radius: 1rem;
}

/*tipografia titulos*/
h1{
    text-transform: uppercase;
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
.titulo span{
    font-size: 2rem;
}

/*etiquetas body*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto; 
    /*esta linea equivale a: 
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;*/
}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width:90%;
    text-align: center;
}

@media (min-width: 768px) {
     .boton{
         width: auto;
     }
}

.nav-bg{
    background-color: var(--secundario);
}
/* Menu navegacion y caja presentacion*/
.barra-navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .barra-navegacion{
        flex-direction: row;
        justify-content: space-between;
    }
}
.barra-navegacion a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.barra-navegacion a:hover{
    background-color: var(--primario);
    color: var(--negro);
}
.presentacion{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-presentacion{
    position: absolute;
    background-color: rgba(158, 82, 82, 0.7);
    /*opcion nueva*/ background-color: rgb(0 0 0 / 70%);
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-presentacion h2,
.contenido-presentacion p{
    color: var(--blanco)
}
.contenido-presentacion .ubicacion{
    display:flex;
    align-items: flex-end;
}
.contenido-presentacion .ubicacion p{
    margin-left: 10px;
}

/*Caja sevicios*/
@media (min-width: 768px) {
     .servicios{
    display:grid;
    grid-template-columns: repeat(3, 1fr)
    /*grid-template-columns: 1fr 1fr 1fr; */
    /*fr = fraccion del entero, es decir, divide el 100% en las partes que se determine*/

    /*grid-template-columns: 300px 300px;
    grid-template-rows: 200px 800px;*/
    /*esto se simplificaria asi: 
    grid: 200px 800px / 300px 300px; (primero medidas de rows y luego medidas de colums*/

}
}



/*EJEMPLO RESPONSIVE WEB DESIGN CON DIFERENTES MEDIDAS*/
    /*Escritorio*
    @media (min-width: 1199.98px)  {
        body{background: red;}
    }
    /*Fin Escritorio*/

    /*Tablet*/
    /*Portrait*
    @media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
        body{background: orange;}
    }

    /*landscape*
    @media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
        body{background: blue;}
    }
    /*fin tablet*/

    /*movil*/
    /*Portrait*/
    /*Default*
    @media (max-width: 575.98px)and (orientation:portrait) {
        body{background: green;}
    }
    /*landscape*
    @media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
        body{background: black;}
    }
    /*fin movil*/


